@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif; /* Nova fonte */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(135deg, #3a3a3a, #1e1e1e); /* Gradiente de fundo */
}

#particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.profile-pic {
    border-radius: 50%; /* Faz a imagem ficar redonda */
    width: 150px; /* Largura da imagem do perfil */
    height: 150px; /* Altura da imagem do perfil */
    margin-bottom: 20px; /* Espaço abaixo da imagem */
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(51, 51, 51, 0.8);
    color: #ffffff;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#back-to-top:hover {
    background-color: rgba(76, 175, 80, 0.9); /* Verde suave */
}

.header-content {
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1; /* Garante que o conteúdo esteja acima do fundo */
}

.header-content h1 {
    color: #b2ebf2; /* Azul claro para o texto */
    font-size: 3em; /* Aumenta o tamanho da fonte */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Sombra para profundidade */
    margin: 0;
}

.header-content p {
    color: #ffffff; /* Branco para o parágrafo */
    font-size: 1.5em; /* Aumenta o tamanho da fonte do parágrafo */
    margin: 10px 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Sombra para profundidade */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Alinha os botões em coluna */
    align-items: center; /* Centraliza os botões horizontalmente */
}

nav ul li {
    margin: 10px 0; /* Espaço vertical entre os botões */
}

.button-3d {
    font-family: 'Montserrat', sans-serif; /* Nova fonte para os botões */
    text-decoration: none;
    color: #ffffff; /* Branco para o texto dos botões */
    background-color: #4c9daf; /* Verde claro */
    padding: 15px 110px; /* Aumenta o padding para tornar os botões maiores e mais largos */
    border-radius: 5px;
    border: 1px solid transparent;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    display: inline-block;
    text-align: center;
    font-size: 1.2em; /* Tamanho da fonte */
}

.button-3d:hover {
    background-color: #1a454f; /* Verde escuro */
    color: #fff;
    transform: scale(1.05); /* Efeito de aumento ao passar o mouse */
}

.cursor {
    display: inline-block;
    width: 10px;
    background-color: #0e2a30; /* Cor do cursor */
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
